#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.mathematician {
	display:flex;
	flex-flow: column;
	flex-wrap: nowrap;
	padding: 10px;
	margin: 10px;

	background: beige;
}

.descriptiveText {
	font-size: 2rem;
	padding-top: 10px;
	text-align: center;
}

.img {
	display: block;
	margin: auto;
	border: 5px solid red;
	height: 15rem;
	width: auto;
}

h1, h1>input{
	text-align: center;
	font-size: 4rem;
}

p {
	text-align: center;
	font-size: 1.3rem;
}
